.filters-wrapper{
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--spacing-xl);
	
	.sort-btn,
	.filters-btn{
		display: flex;
		gap: var(--spacing-sm);
		color: var(--primary-dark);
		span{
			font-weight: 500;
		}
	}
}
.sort-btn{
	position: relative;
.sort-menu{
	display: none;
	ul{
		position: absolute;
		bottom: 0;
		right:  0;
		transform: translateY(100%);
		background: var(--background-extra-light);
		width: 150%;
		padding: var(--spacing-sm);
		li{
			text-align: left;
			color: var(--text-dark);
		}
		& :hover{
			background: var(--background-muted);
		}
	}
}
.sort-menu.active{
	display: block;
}
}
.filter-menu{
	display: none;
	height: 100dvh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: var(--background-light);
	padding: var(--spacing-xl);
	.filter-heading{
		display: flex;
		justify-content: space-between;
		width: 100%;
		h1{
		color: #222;
		line-height: 1;
		margin: 0;
	}
	.close-btn{
		padding-top: var(--spacing-sm);
	}
	}
	.filter-material{
		border-bottom: 2px solid #222;
		padding-block: var(--spacing-sm);
		.material-heading{
			display: flex;
			justify-content: space-between;
		}
		.material-list{
			overflow: hidden;
  		max-height: 0;
  		opacity: 0;
  		transform: translateY(-10px);
  		transition: all 0.3s ease;

		}
		.material-list.active{
			max-height: 100%; 
  		opacity: 1;
  		transform: translateY(0);

		}
	}
		.filter-price{
			padding-block: var(--spacing-sm);
			border-bottom: 2px solid #222;
			.price-heading{
				display: flex;
			justify-content: space-between;
			}
			.price-options{
				overflow: hidden;
  			max-height: 0;
  			opacity: 0;
  			transform: translateY(-10px);
  			transition: all 0.3s ease;
				display: flex;
				gap: var(--spacing-sm);
				align-items: center;
				span{
					font-size: 30px;
				}
				input{
					width: 100px;
					padding: var(--spacing-sm);
					border-radius: var(--border-radius-md);
				}
				button{
					background: #222;
					padding: var(--spacing-sm);
					border-radius: var(--border-radius-md);
					color: #fff;
					font-size: 20px;
					margin-left: var(--spacing-lg);
				}
				div{
					background: #222;
					height: 2px;
					width: 16px;
				}
			}
					.price-options.active{
					max-height: 100%;
					opacity: 1;
					transform: translateY(0);
				}
		}
}
.filter-menu.active{
	display: flex;
	flex-direction: column;
	gap: 100px;
}