.footer {
    background: var(--background-dark);
    color: var(--text-light);
}
.footer-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ffffff;
    gap: var(--spacing-lg);
  }
.logo-social{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);   
}
.social{
    display: flex;
    justify-content: space-between;
}
.products-feedback{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  width: 100%;
}
.products-help{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);
  width: 100%;
  h4{
    margin-bottom: var(--spacing-sm);
  }
  ul{
    li{
      line-height: 2;
    }
  }
}
.feedback{
   background-color: rgba(253, 246, 236, 0.1);
    border-radius: var(--border-radius-sm);
    padding: var(--spacing-sm);
}
.feedback-link{
  color: var(--primary-light);
  text-decoration: underline;
}
.feedback-link:hover{
  color: var(--primary-dark);
}
.list-item{
  color: white;
}
.products,.help{
  li{
    a{
      color: var(--text-light);
      text-decoration: underline;
    }
    a:hover{
      color: var(--text-muted);
    }
  }
}
 .copyright{
  color: var(--text-light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
  line-height: 1;
  padding-block: var(--spacing-md);
  }
  @media (min-width:768px){
  .social{
      width: 200px;
    }
    .footer-container{
      flex-direction:row;
      justify-content: space-between;
    }
    .products-help{
      flex-direction: row;
      justify-content: space-evenly;
    }
    .products-feedback{
      flex-direction: row-reverse;
    }
  }