.offers{
  padding-block:2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 1rem; 
}
@media (max-width:768px){
  .offers{
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-block:1rem;
  }
}

