@font-face {
  font-family: 'MyFont';
  src: url(./assets/fonts/ShareTechMonoRegular.ttf);
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}
.wrapper{
  display: grid;
  grid-template-rows: auto 1fr auto;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
ul,
ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
input,
textarea {
  border: 1px solid #ccc;
  box-shadow: none;
  outline: none;
  padding: 0.6em;
  border-radius: 8px;
}
button{
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
body{
  font-family: 'MyFont';
  background-color: #fff;
  color: #222;
  line-height: 1.6;
  min-height: 100dvh;
}
h1, h2, h3 {
  font-weight: 600;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
a,
button,
img {
  transition: all 0.3s ease;
  will-change: transform, filter;
}
:focus-visible {
  outline: 2px solid #555;
  outline-offset: 2px;
}
@media (max-width: 768px) {

  .container{
    padding: 0 2rem;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  .section {
    padding: 1rem 0;
  }
}
:root {
  --color-accent: #4a148c;
  --color-gold: #ffeb3b;
  --background-dark: #7e57c2;
  --background-light: #e8ddfa;
  --background-cream: #FDF6EC;
  --border-radius-l: 32px;
  --border-radius-m: 16px;
  --border-radius-s: 8px;
}
main{
  background: var(--background-light);
}